.d3{
    box-sizing: border-box;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
       

}
.wi{
    width:60px;
    
   
}
.wi:hover{
  
}
.se{
    background-image:linear-gradient(45deg,#43cea2 0%,#185a9d 100%);
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 40px;
    
}
.bl{
    text-align: start;
}
.re{
    margin: auto;
    padding: auto;
}
.tc{
    padding: 20px;
}
@media screen and (min-width: 992px) {
    .tc{
        padding-left: 200px;
        padding-right:200px;
        margin: auto;
    }
   
    
}
@media screen and (min-width: 1200px) {
    .tc{
        padding-left: 400px;
        padding-right:400px;
        margin: auto;
    }
   
    
}
.hc:hover{

    color: #007bff;
    
}
.img1:hover{
   
}
.a{
    background-image: url("https://apexmoon.com/img/global-expert.svg");
    
   
    
    height: 75px;
    
    background-repeat: no-repeat!important;
    background-position: center!important;
    
}
.b{
    background-image: url("https://apexmoon.com/img/Trustworthy.svg");
    
   
    
    height: 75px;
    
    background-repeat: no-repeat!important;
    background-position: center!important;
    
}
.c{
    background-image: url("https://apexmoon.com/img/Proven-Success.svg");
    
   
    
    height: 75px;
    
    background-repeat: no-repeat!important;
    background-position: center!important;
    
}
.d{
    background-image: url("https://apexmoon.com/img/Confidentiality.svg");
    
   
    
    height: 75px;
    
    background-repeat: no-repeat!important;
    background-position: center!important;
    
}
.a:hover{
    background-image: url("https://apexmoon.com/img/global-expert-h.svg");
    color: black;
}
.b:hover{
    background-image: url("https://apexmoon.com/img/Trustworthy-h.svg");
    color: black;
}
.c:hover{
    background-image: url("https://apexmoon.com/img/Proven-Success-h.svg");
    color: black;
}
.d:hover{
    background-image: url("https://apexmoon.com/img/Confidentiality-h.svg");
    color: black;
}
.a p{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-top: 80px;
    width: auto;
    
}
.b p{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-top: 80px;
    width: auto;
    
}
.c p{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-top: 80px;
    width: auto;
    
}
.d p{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-top: 80px;
    width: auto;
    
}