.d3{
    box-sizing: border-box;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
       

}
.wi{
    width:60px;
   
}
.wi:hover{
    background-color:#007bff;
}
.se{
    background-color: #007bff;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 40px;
    
}
.bl{
    text-align: start;
}
.re{
    margin: auto;
    padding: auto;
}
.tc{
    padding: 20px;
}
@media screen and (min-width: 992px) {
    .tc{
        padding-left: 200px;
        padding-right:200px;
        margin: auto;
    }
   
    
}
.hc:hover{

    color: #007bff;
    
}
.img1:hover{
   
}