.bgp{
    background-image: url("https://apexmoon.com/img/portfolio-managment.jpg");
    height: 400px;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    /* padding-left: 170px!important; */
    object-fit: cover;
    /* display: flex; */
    align-items: center;
}